body{
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 400 to 900
    
    .wittgenstein-<uniquifier> {
      font-family: "Wittgenstein", serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }
}



h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}